<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/2a05ff98f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'users/css/style_index.css'%}">
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <h1 id="title">
	Sistema de Monitoreo
      </h1>
      <div class="go-back">
	<a href="/frontend/html/log_in.html"><i class="fas fa-arrow-circle-left"></i></a>
      </div>
    </header>
    <!-- Nav Bar -->
    <nav id="navegation">
      <div class="menu">
      <div>
	<a class="actual" href="{%url 'users:home' %}">Vendedores</a>
      </div>
      <div>
	<a class="option" href="{%url 'sells:register' %}">Registrar Venta</a>
      </div>
      <div>
	<a class="option"href="{%url 'sells:search' %}">Info. Ventas</a>
      </div>
      <!-- This options currently it's no available :D
	<div>
	<a class="option"href="/frontend/html/log_in.html">Registrar Producto</a>
	</div>
      -->
      </div>
    </nav>
    <main id="content">
        {% for salesman in salesmans %}

        <a href="/users/detail/{{ salesman.pk }}/0">
	        <div class="seller">
                <img src="{{ salesman.picture.url }}" alt="">
                <h2 class="name">
                    {{ salesman.name }}
                </h2>
            </div>
        </a>

        {% endfor %}

    </main>

  </body>
</html>
