<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Information</title>
    <script src="https://kit.fontawesome.com/2a05ff98f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'users/css/style_update_salesman.css' %}">
  </head>
  <body>
    <header>
      <div class="go-back">
	<a href="./index.html"><i class="fas fa-arrow-circle-left"></i></a>
      </div>
      <h1 id="title">Nuevo Vendedor</h1>

    </header>
    <main id="content">

      <div class="box">
	<div id="photo">
	  <img src="{%static 'users/images/chang.jpg' %}" alt="">
	  <h3>Foto del Vendedor</h3>
	</div>
	<div class="inputs">
	  <div class="data">
	    <h3 class="sub-title">
	    Nombre
	    </h3>
	    <!-- Input Data -->
	    <div class="bar">
	      <input name="name" class="inputdata" type="text" value="{{salesman.name}}" required>
	    </div>
	  </div>

	  <div class="data">
	    <h3 class="sub-title">
	    Actualizar foto de perfil
	    </h3>
	    <!-- Input Data -->
	    <div class="bar">
	      <input class="inputdata" name="picture">
	    </div>
	  </div>
	</div>
	<div class="Button">
	  <a id="Button" href="./password_seller.html">Actualizar</a>
	</div>
      </div>

    </main>

  </body>
</html>
