* {
  margin: 0px;
}

.go-back {
  text-decoration: none;
  font-size: 55px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 6px;
}

.go-back > a {
  color: #0c667c;
}

#header {
  background: linear-gradient(90.88deg, #32b8ca -17.16%, #183d9a 125.57%);
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.25);
  height: 10vh;
}

#title {
  position: absolute;
  left: 8vw;
  top: 2vh;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}

body {
  background: #1d1c29;
}

#Title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  margin: 35px;
}

.box {
  width: 100%;
  margin: auto;
}

.left-side {
  display: inline-block;
  text-align: center;
  margin: 0px 30px;
  width: 20%;
  position: relative;
}

.left-side > h2 {
  font-size: 30px;
  margin: 10px auto;
  color: white;
}

.filter {
  width: 85%;
  margin: 5px auto;
  background: #049417;
  border: 6px solid #d4d6fa;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.data {
  padding: 25px 0px 15px 0px;
  color: rgb(255, 255, 255);
}

.sub-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bar {
  margin: 10px 0px;
  text-align: center;
}

.inputdata {
  /*font-family: Roboto Slab;*/
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  width: 75%;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.301);
  border-radius: 15px;
  text-align: center;
}

.right-side {
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  width: 75%;
  position: absolute;
}

.right-side > h2 {
  font-size: 30px;
  margin: 10px auto;
  color: white;
}

#boxsales {
  margin: 5px auto;
  width: 90%;
  height: 520px;
  padding: 5px 5px;
  overflow-y: scroll;
  border-radius: 10px;
  background: #4d570f;
  border: 6px solid #e9ead6;
  box-sizing: border-box;
}

.sales {
  margin: 20px auto;
  width: 85%;
  background: linear-gradient(
    180deg,
    #fcfe98 0%,
    #eff283 17.71%,
    #e6e873 30.21%,
    #d2d552 47.92%,
    #ccce46 75%,
    #c6c93d 100%
  );
  border: 6px solid #888a2c;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  text-align: start;
}

.barinfo {
  margin: 0px;
  width: 100%;
}

.barinfo input {
  margin: 25px 5%;
  font-weight: bold;
  font-size: 25px;
  background: rgba(255, 255, 255, 0);
  border: 0px black;
  border-radius: 5px;
  padding: 5px 0px;
  color: black;
  text-align: center;
}

.barinfo .leftvalue {
  text-align: start;
  margin: 0px 70px;
}

.barinfo .rightvalue {
  text-align: start;
  width: 250px;
}

.Button {
  margin: 20px auto;
  align-content: center;
  text-align: center;
}

#Button {
  text-decoration: none;
  color: #071a4e;
  font-size: 25px;
  font-weight: bold;
  width: 40%;
  padding: 6px 20px;
  background: linear-gradient(180deg, rgb(60, 214, 189), rgb(12, 132, 136));
  border: 3px solid #0ec0df;
  box-shadow: 0px 0px 10px 1px rgba(120, 224, 255, 0.678);
  border-radius: 6px;
}
