*{
    margin: 0px;
}

#title{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 92%;
    margin: 15px 0px;
}

.go-back{
    font-size: 55px;
    display: inline-block;
    padding: 5px;
}

.go-back >a{
    color: #5ecffc;
}

body{
    background: linear-gradient(116.82deg, #2C50CD 1.46%, #D823DC 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.box{
    width:35%;
    height: 400px;
    margin: 90px auto;
    background: linear-gradient(360deg, rgba(21, 3, 124, 0.918),rgb(14, 77, 158));
    border-radius: 35px;
    border: 2px solid rgb(4, 32, 92);
    box-shadow: 0px 2px 10px 0px  rgba(16, 5, 121, 0.897);
}


.inputs{
    display: block;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.data{
    text-align: center;
    margin: 25px auto;
    width: 60%;
}

.sub-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.inputdata{
    /*font-family: Roboto Slab;*/
    font-weight: bold;
    font-size: 18px;
    height: 35px;
    width: 75%;
    padding: 5px 15px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px 0px rgb(38, 4, 83);
    border-radius: 15px;
    text-align: center;
}

.request{
    color: rgb(0, 0, 0);
    margin: 25px auto 10px auto;
    text-align: center;
    font-size: 18px;
}

.listrequest{
    text-align: left;
    display: inline-block;
    margin: 5px 25px 0px 20px;
}

.Button{
    margin: 20px auto;
    align-content: center;
    text-align: center;
}

#Button{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    padding: 5px 25px;
    border: 2px solid #370579;
    background: linear-gradient(360deg,rgb(141, 24, 187),#8822e7);
    box-shadow: 0px 3px 15px 3px rgba(46, 9, 105, 0.856);
    border-radius: 10px;
}