*{
    margin: 0px;
}

body{
    background: linear-gradient(275.44deg, rgba(66, 195, 202, 0.9) 0%, #0e38cf 96.64%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.go-back{
    text-decoration: none;
    font-size: 55px;
    position: relative;
    left: 10px;
    top: 10px;
    
}

.go-back >a{
    color: cornflowerblue;
}

#left-side{
    position:absolute;
    display: inline-block;
    width: 50vw;
    height: 100vh;
    left: 0vh;
}

#righ-side{
    z-index: 95;
    align-content: center;
    position:absolute;
    width: 50vw;
    left: 50vw;
    height: 100vh;
    display: inline-block;
    background: linear-gradient(180deg, rgba(26, 113, 193, 0.85) 9.47%, #000000 93.15%);
    box-shadow: -3px 0px 8px 4px rgba(0, 0, 0, 0.45);
    border-radius: 15px 0px 0px 15px;
}

#Title{
    margin: 65px 0px;
    font-size: 40px;
    color: #FFFFFF;
    width:100%;
    text-align: center;
}

#register-box{
    width:100%;
    align-content: center;
    margin: auto;
}

#data-box{
    margin: 0px auto;
    width: 430px;
    height: 410px;
    background: #091644;
    box-shadow: 0px 4px 15px 5px rgba(255, 255, 255, 0.15);
    border-radius: 25px;
}

.data{
    padding: 15px 0px 0px 0px;
    color: white;
    align-content: center;
    align-items: center;
}

.sub-title{
    font-size: 23px;
    font-weight: bold;
    position: relative;
    left: 65px;
}

.bar{
    margin: 10px auto;
    position: relative;
    left: 45px;
}

.inputdata{
    /*font-family: Roboto Slab;*/
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.35);
    height: 40px;
    width: 75%;
    background: rgba(3, 5, 45, 0.87);
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    text-align: center;
}

.request{
    color: rgb(156, 156, 156);
    margin: 25px auto 10px auto;
    text-align: center;
    font-size: 18px;
}

.listrequest{
    text-align: left;
    display: inline-block;
    margin: 5px 25px 0px 20px;
}

.Button{
    margin: 30px auto;
    align-content: center;
    text-align: center;
}

#Button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    padding: 5px 0px;
    background: rgba(0, 239, 167, 0.76);
    box-shadow: 0px 5px 15px 5px rgb(1, 14, 27);
    border-radius: 8px;
}