*{
    margin: 0px;
}

.go-back{
    text-decoration: none;
    font-size: 55px;
    display: inline-block;
    position: relative;
    left: 10px;
    top: 6px;
}

.go-back >a{
    color: #0c667c;
}

#header{
    background: linear-gradient(90.88deg, #32B8CA -17.16%, #183D9A 125.57%);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.25);
    height: 10vh;

}

#title{
    position: absolute;
    left: 8vw;
    top: 2vh;
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

#navegation{
    display: inline-flex;
    height:90vh;
    width: 20vw;
}

.menu{
    width: 100%;
    background: linear-gradient(180deg, #9591C8 0%, #2C285F 44.79%, #280E73 100%);
    box-shadow: 2px 8px 10px 5px rgba(0, 0, 0, 0.25);
}


.menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.option{
    margin: 30px 0px 0px 0px;
    width: 70%;
    padding: 18px;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: #073B9F;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.65);
    border-radius: 0px 25px 25px 0px;
}

.actual{
    width:80%;
    background: #15AECF;
    margin: 30px 0px 0px 0px;
    width: 80%;
    padding: 18px;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.65);
    border-radius: 0px 25px 25px 0px;
}

#content{
    display: inline-block;
    width: 75%;
    margin: 7px 0px;
    height: 89%;
    position: absolute;
    align-content: center;
    overflow-y: scroll;
}

/* Seller */

.seller{
    width: 80%;
    margin: 35px auto;
    background: linear-gradient(93.7deg, #FFFFFF 14.15%, #818ADA 48.31%, #0F24E3 108.6%);
    box-shadow: 12px 20px 15px 0px rgba(39, 38, 38, 0.356);
    border-radius: 0px 35px 35px 35px;
}


img{
    width: 15%;
    border-radius: 500px;
    margin: 10px 15px;
    
}

.seller >.name{
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 60%;
    margin-top: 25px;
    color: #FFFFFF;
}