*{
    margin: 0px;
}

#title{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 95%;
    margin: 15px 0px 15px 0px;
}

.go-back{
    font-size: 55px;
    display: inline-block;
    padding: 5px;
}

.go-back >a{
    color: #5ecffc;
}

body{
    background: linear-gradient(116.82deg, #2C50CD 1.46%, #D823DC 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.box{
    width:60%;
    margin: auto;
    background: linear-gradient(359.59deg, #5934C0 0.46%, rgba(82, 62, 144, 0.7) 32.45%, rgba(89, 71, 156, 0.309524) 66.32%, rgba(93, 75, 162, 0) 90.78%);
    border-radius: 35px;
    border: 2px solid rgb(71, 4, 92);
    box-shadow: 0px 2px 10px 0px  rgba(55, 3, 153, 0.897);
}

#photo{
    width: 80%;
    margin: auto;
    text-align: center;
}

#photo h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

img{
    width:25%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 0px 5px 15px 1px rgb(19, 11, 29);
}

.inputs{
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: auto;
}

.data{
    display: inline-block;
    margin: 20px 0px 10px 0px;
    
}

.sub-title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.inputdata{
    /*font-family: Roboto Slab;*/
    font-weight: bold;
    font-size: 18px;
    height: 35px;
    width: 75%;
    padding: 0px 15px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px 0px rgb(38, 4, 83);
    border-radius: 15px;
    text-align: center;
}

.Button{
    margin: 20px auto;
    align-content: center;
    text-align: center;
}

#Button{
    color: #06dcf8;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    padding: 5px 25px;
    border: 2px solid #0947a5;
    background: linear-gradient(180deg,rgb(10, 107, 233),#0947a5);
    box-shadow: 0px 3px 15px 3px rgba(6, 34, 128, 0.856);
    border-radius: 10px;
}
